SERVICE_NAME=vacancy-service
PORT=8003
DEBUG=true

JWT_SECRET_KEY=my-super-secret-key-change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

BCRYPT_ROUNDS=12